<div class="footer d-flex justify-content-center">
  <a href="https://www.facebook.com/harry.samuel.39750" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
  <a href="https://twitter.com/harry_s_style?lang=en-gb" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
  <a href="https://www.instagram.com/harry_s_style/?hl=en" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
  <a href="https://soundcloud.com/harry-style" target="_blank"><i class="fab fa-soundcloud fa-2x"></i></a>
</div>
