<section class="composer">
	<div class="container py-4">
		<h1 class="h1 text-center" id="pageHeaderTitle">Composer</h1>

		<article class="hs-card dark blue">
			<a class="hs-card__img_link" href="#">
				<img class="hs-card__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
			</a>
			<div class="hs-card__text">
				<h1 class="hs-card__title blue"><a href="#">Poject Title Here</a></h1>
				<div class="hs-card__bar"></div>
				<div class="hs-card__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				<ul class="hs-card__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play blue">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
	</div>
</section>
