<div class="navbar navbar-expand-sm navbar-light navbar-hstyle">
  <a href="#top" class="logo mx-4 my-2">Harry Style</a>
  <%# <div class="division"></div> %>
  <div class="navbar-items">
    <a href="./composer.html" class="vl navbut">Composer&nbsp;</a>
    <a href="./arranger.html" class="vl navbut">Arranger&nbsp;</a>
    <a href="./md.html" class="vl navbut">Musical Director&nbsp;</a>
    <a href="./performer.html" class="navbut">Performer&nbsp;</a>
    <!--a href="./about.html" class="navbut">About</a-->
  </div>
</div>
