<div class="navbar navbar-expand-sm navbar-light navbar-hstyle">
  <div class="content">
    <a href="#top" class="logo"><h1>Harry Style</h1></a>
    <%# <div class="division"></div> %>
    <div id="navbar">
      <a href="./composer.html" class="vl navbut">Composer&nbsp;</a>
      <a href="./arranger.html" class="vl navbut">Arranger&nbsp;</a>
      <a href="./md.html" class="vl navbut">Musical Director&nbsp;</a>
      <a href="./performer.html" class="navbut">Performer&nbsp;</a>
      <!--a href="./about.html" class="navbut">About</a-->
    </div>
  </div>
</div>
