<h1 class="text-center p-3">Projects</h1>
<div class="hs-cards">
<% @projects.each do |project| %>
  <div class="hs-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url(project.image_path) %>)">
    <%= project.title %>
  </div>
<% end %>
</div>
<% @projects.each do |project| %>
<div class="hs-card-info d-none">
  <%= project.description.to_s %>
  <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="<%= project.soundcloud_url %>"></iframe>
</div>
<% end %>
