.fab {
  transition: color 1s;
  color: $hs-beige;
  margin: 0 16px;
}

.fa-facebook:hover {
  color: #1876F2;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

.fa-instagram:hover {
  color: #C13584;
}

.fa-soundcloud:hover {
  color: #FF5500;
}
