.footer {
  background-color: $hs-red;
  border-top: solid 2px $hs-beige;
  text-shadow: 0 2px 2px rgba(0,0,0,.2);
}

.footer .fab, .footer .fas {
  transition: color 0.4s;
  color: $hs-beige;
  margin: 0 16px;
}

.fa-facebook:hover {
  color: #1876F2;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

.fa-instagram:hover {
  color: #C13584;
}

.fa-soundcloud:hover {
  color: #FF5500;
}

.fa-envelope:hover {
  color: #c0a491;
}
