.footer {
  background-color: $hs-black;
  border-top: solid 2px $hs-red;
}

.fab, .fas {
  transition: color 0.4s;
  color: $hs-beige;
  margin: 0 16px;
}

.fa-facebook:hover {
  color: #1876F2;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

.fa-instagram:hover {
  color: #C13584;
}

.fa-soundcloud:hover {
  color: #FF5500;
}

.fa-envelope:hover {
  color: #c0a491;
}
