.navbar-hstyle {
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 2px rgba(54, 57, 58, 0.3);
  background-color: $hs-black;
  padding: 0.5rem 10vw;
}

// To add space between top of page and content
.empty {
  height: 86px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}

.logo {
  text-decoration: none;
  color: $hs-beige;
  transition: color 0.5s;
  font-weight: bold;
  font-size: 36px;
}

.logo:hover {
  color: $hs-red;
}

.navbut {
  transition: color 1s;
  text-decoration: none;
  padding: 0 1vw;
  color: $hs-beige;
  cursor: pointer;
}

.navbut:hover {
  color:#BF223C;
}

.vl {
  border-right: 2px solid $hs-beige;
}

// .navbar-hstyle .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-hstyle .navbar-brand img {
//   width: 40px;
// }
