// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html, body {
  padding: 0px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: $hs-beige;
  background-color: $hs-red;
}

a {
  color: $hs-link;
  text-decoration: none;
}

a:hover {
  color: $hs-link-hov;
}
